astroid==2.3.3
click==7.1.2
colorama==0.4.3
dataclasses==0.8
fastapi==0.63.0
isort==4.3.21
gunicorn==20.0.4
h11==0.12.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pydantic==1.7.3
pylint==2.4.4
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.3
six ==1.14.0
websockets==8.1
wrapt==1.11.2
